domon/backend/config.py 

domon/fast_backend/config.py

domon/frontend/domon_frontend/src/config.js

**/config.js

.env


domon/fast_backend/v1_app/domain_script/config.py


fast_backend/v1_app/domain_script/config.py




fast_backend/v1_app/domain_expiry_script/config.py

fast_backend/domain_expiry_script/config.py

fast_backend/domain_script/config.py

